<div class="full-width-flex-container">
  <div class="auth-container">
    <h1>
      {{ type === 'login' ? 'Log in' : 'Register'}}
    </h1>
    <div class="form-container" (submit)="onSubmit()">
      <form class="form" [formGroup]="form">
        <div class="login-container input-container">
          <label class="label" for="email">Email</label>
          <input formControlName="email" class="input" id="email" type="email">
        </div>
        <div class="password-container input-container">
          <label class="label" for="password">Password</label>
          <input formControlName="password" class="input" id="password" type="password">
        </div>
        <button class="btn" [disabled]="form.invalid">
          {{ type === 'login' ? 'Log in' : 'Sign in'}}
        </button>
      </form>
      <button *ngIf="type==='login'" class="btn" (click)="onTestUserClick()">Test User</button>
    </div>
  </div>
</div>
