@import '../../scss/variables';

$button-color: #2fc124;

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 70%;
  max-width: 25rem;
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 5px;

  box-shadow: 0px 0px 5px 0px $accent-text-color;
}

.form-container {
  padding:1rem;
}

.input-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
}

.label {
  font-size: 75%;
  padding: 5px;
  color: $accent-text-color;
}

.input {
  border: none;
  box-shadow: 0px 0px 5px 0px $accent-text-color;
  padding:0.25rem 0.5rem;
  background-color: $accent-color;
  color: $accent-text-color;
}

.form.ng-invalid .btn {
  pointer-events: none;
}

.header {
  color: $accent-cta-color;
  font-weight: 700;
}
