@import '../../scss/variables';

$button-color: #2fc124;

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 25rem;
  padding: 1rem;
  border-radius: 5px;

}

@media screen and (min-width: 420px) {
}

.btn-default {
  margin-top: 1rem;
  padding: 0.5rem 0.5rem;

  font-weight: bolder;
  transition: opacity 500ms ease-in-out 0ms;
}

.btn-default:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.lbl-default {
  font-size: 0.70rem;
}

.form-container {
  padding:1rem;
}

.input-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
}

.header {
  color: $accent-cta-color;
  font-weight: 700;
}

.spinner-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-message {
  font-size: 0.75rem;
  color: $default-text-color;
}

.ipt-default.ng-touched.ng-invalid {
  outline: 2px solid $error-color;
}

.lbl-default {
  margin-bottom: 5px;
}
