$button-color: #2fc124;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 70%;
  max-width: 25rem;
  margin-top: 3rem;
}

.form-container {
  padding:1rem;
}

.input-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
}

.btn {
  cursor: pointer;
  margin-top: 2rem;
  font-weight: 600;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px gray;
  transition: scale 300ms ease 0ms, background-color 300ms ease 0ms;
}

.btn:hover {
  color:beige;
  background-color: $button-color;
  box-shadow: 0px 0px 7px 1px #25981d;
  scale: 110%;
}

.label {
  font-size: 75%;
  padding: 5px;
}

.input {
  border: none;
  box-shadow: 0px 0px 5px 0px gray;
  padding:0.25rem 0.5rem;
}

.form.ng-invalid .btn {
  pointer-events: none;
}
