<div class="main-container">
  <h1>
    {{ type === 'login' ? 'Log in' : 'Register'}}
  </h1>
  <div class="form-container">
    <form class="form">
      <div class="login-container input-container">
        <label class="label" for="login">Login</label>
        <input class="input" id="login" type="text">
      </div>
      <div class="password-container input-container">
        <label class="label" for="password">Password</label>
        <input class="input" id="password" type="password">
      </div>
      <button class="btn">
        {{ type === 'login' ? 'Log in' : 'Sign in'}}
      </button>
    </form>
  </div>
</div>
