<div class="full-width-flex-container">
  <div class="auth-container">

    <h1 class="header">
      {{ type === 'login' ? 'Log in' : 'Register'}}
    </h1>

    <div class="form-container" (submit)="onSubmit()">

      <form class="form" [formGroup]="form">

        <div class="login-container input-container">
          <label class="lbl-default" for="email">Email</label>
          <input formControlName="email" class="ipt-default" id="email" type="email">
        </div>

        <div class="password-container input-container">
          <label class="lbl-default" for="password">Password</label>
          <input formControlName="password" class="ipt-default" id="password" type="password">
        </div>

        <button class="btn-default" [disabled]="form.invalid">
          {{ type === 'login' ? 'Log in' : 'Sign in'}}
        </button>

        <button *ngIf="type==='login'" class="btn-default" (click)="onTestUserClick()">Test User</button>
      </form>


    </div>

  </div>
</div>
