@import '../../../scss/variables';

// TOP
.top-fixed-container {
  position: fixed;
  top: 3rem;
  left:0;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap:0.75rem;

  background-color: $dominant-color;
  height: 3.5rem;
  overflow: hidden;
  padding: 0.75rem;

  -webkit-appearance: none;
  box-shadow:  0px 0px 2px 0px $accent-dark-color;;
  -webkit-box-shadow:  0px 0px 2px 0px $accent-dark-color;

  transition: height 500ms ease-in-out 0ms;

  z-index: 60;
}

.top-fixed-container.hidden {
  display: none;
}

.top-fixed-container.opened {
  height: 12.5rem;
}

.recipe-name-header {
  display: flex;
  align-items: center;

  color:$accent-cta-color;
  font-size: 1.5rem;
  font-weight: bolder;

}

.btn-more {
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;

  border:none;
  background-color: $dominant-color;
}

.btn-more img{
  max-width: 2.5rem;
  filter: invert(73%) sepia(15%) saturate(5545%) hue-rotate(338deg) brightness(98%) contrast(87%);
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-width: 50rem;
  align-self: center;
}

.btns-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  max-width: 35rem;
}

.edit-del-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

// CONTENT
.recipe-container {
  margin-top: 4.25rem;

  display: flex;
  flex-direction: column;
  gap:0.5rem;

  padding:1rem;
}

.recipe-container.hidden {
  margin-top: 0rem;
}

.description,
.full-recipe-name {
  color: $default-text-color;
}

.basic-attributes {
  display: flex;
  flex-direction: column;
  gap:0rem;

  color: $accent-cta-color;
  font-weight: bolder;
}

.basic-attributes p {
  color: $accent-cta-color;
  font-weight: bolder;
}

.description {
  font-size: 1.2rem;
  line-height: 1.1rem;
}

.preparation-steps,
.ingredients {
  padding: 1rem 0rem;
}

.list-header {
  font-size: 1.8rem;
  font-weight: bolder;
  color:$accent-cta-color;
}

.ing-list {
  font-size: 1.4rem;
  padding: 0.25rem 1.5rem;
  color:$default-text-color;
  list-style-type: circle;
}

.ing-list-element.in-pantry {
  list-style-type: disc;
}

.ing-list-element.in-pantry::marker {
  color: $accent-cta-color;
}

.in-pantry img {
  width: 1rem;
  filter: invert(73%) sepia(15%) saturate(5545%) hue-rotate(338deg) brightness(98%) contrast(87%);

}

.prep-list {
  font-size: 1.1rem;
  padding: 0.25rem 1.5rem;
  padding-right: 0rem;
  color:$default-text-color
}

.prep-list-element {
  padding: 0.2rem 0rem;
  transition: text-decoration 500ms ease-in-out 0ms;
}

.prep-list-element.crossed {
  text-decoration: line-through;
}
