<div class="full-width-flex-container">
  <div class="recipe-container">
    <h2 class="header">{{ recipe!.name }}</h2>

    <div class="sections-container">

      <section class="section-ingredients section">
        <h3 class="list-header">Ingredients</h3>
        <ul class="list">
          <li class="list-element" *ngFor="let product of recipe!.ingredients">
            {{ product.name }} {{ product.quantity }} {{ product.unit}}
          </li>
        </ul>
      </section>

      <section class="section-preparation-steps section">
        <h3 class="list-header">Prepartion</h3>
        <ul class="list">
          <li class="list-element" *ngFor="let step of recipe!.prepSteps">
            {{ step }}
          </li>
        </ul>
      </section>

    </div>
    <div class="btns-container">
      <button class="btn" (click)="onAddToMyRecipes()">Add Recipe to My Recipes</button>
      <button class="btn" (click)="onAddToShoppingListClick()">Add Ingredients to shopping List</button>
      <button class="btn" (click)="onDeleteRecipeClick(recipe!.id)">Delete Recipe</button>
    </div>
  </div>

</div>
