.recipe-container {
  padding: 1rem;
  width: 100%;
  max-width: 60rem;
}

.section-ingredients {
  padding: 1rem;
}

.section-preparation-steps {
  padding: 1rem;
}

.section {
  margin-top: 1rem;
  min-width: 20rem;
}

.list {
  padding:1rem;
}

.list-element {
  padding: 0.25rem;
}


.sections-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
