<div class="top-fixed-container" [ngClass]="{'opened': buttons, 'hidden': recipePreview}">

  <div class="header-container">

    <p class="recipe-name-header">{{ recipe!.name.length > 25 ? recipe!.name.slice(0, 25).concat('...') : recipe!.name}}</p>

    <button class="btn-more" (click)="onMoreButtonClick()">
      <img src="../../../assets/more-vertical-svgrepo-com.svg" alt="">
    </button>

  </div>

  <div class="btns-container">

    <button
      *ngIf="recipesType === 'recipes-base'"
      class="btn-default"
      (click)="onAddToMyRecipes()">
      Add Recipe to My Recipes
    </button>

    <button
      class="btn-default"
      (click)="onAddToShoppingListClick()">
      Add Ingredients to shopping List
    </button>

    <div class="edit-del-container">

      <button
        *ngIf="recipesType === 'user-recipes'"
        class="btn-default"
        [routerLink]="['/edit-recipe', recipe!.id]">
        Edit Recipe
      </button>

      <button
        *ngIf="recipesType === 'user-recipes'"
        class="btn-default"
        (click)="onDeleteRecipeClick(recipe!.id)">
        Delete Recipe
      </button>

    </div>

  </div>


</div>

<div class="full-width-flex-container">
  <div class="recipe-container" [ngClass]="{'hidden': recipePreview}">

    <h1 class="full-recipe-name">{{ recipe!.name }}</h1>

    <div class="basic-attributes">

      <p class="tags"> <span class="tag" *ngFor="let tag of recipe!.tags; let i = index">#{{ tag }} </span></p>

      <p class="">{{ recipe!.prepTime }} min, {{ recipe!.difficulty }},  {{ recipe!.servings }} servings</p>

    </div>

    <p class="description">{{ recipe!.description }}</p>

    <div class="ingredients">
      <h2 class="list-header">Ingredients</h2>
        <ul class="ing-list">
          <li class="ing-list-element" [ngClass]="{ 'in-pantry': product.inPantry }" *ngFor="let product of recipe!.ingredients">
            {{ product.name }} {{ product.quantity }} {{ product.unit}}
            <img *ngIf="product.inPantry" src="./../../../assets/tick-svgrepo-com (1).svg" alt="">
          </li>
        </ul>
    </div>

    <div class="preparation-steps">
      <h2 class="list-header">Prepartion</h2>
        <ol class="prep-list">
          <li [ngClass]="{'crossed': crossedSet.has(i)}" class="prep-list-element" *ngFor="let step of recipe!.prepSteps; let i = index" (click)="onPrepClick(i)">
            {{ step }}
          </li>
        </ol>
    </div>


  </div>
</div>
