<div class="full-width-flex-container">
  <div class="filter-sort-container">
    <div class="filter-container">
      <form [formGroup]="filterForm">
        <div class="inputs-container">

          <div class="input-container">
            <label for="name">name</label>
            <input formControlName="name" id="name" type="text">
          </div>

          <div class="input-container">
            <label for="prepTime">prepTime</label>
            <input formControlName="prepTime" id="prepTime" type="text">
          </div>

          <div class="input-container">
            <label for="difficulty">difficulty</label>
            <input formControlName="difficulty" id="difficulty" type="text">
          </div>

          <div class="input-container">
            <label for="price">price</label>
            <input formControlName="price" id="price "type="number">
          </div>

        </div>

        <button (click)="onFilterClick()">Filter</button>
        <button (click)="onClearFiltersClick()">Clear Filters</button>

      </form>
    </div>
    <div class="sort-container">
      <form [formGroup]="sortForm">
        <div class="inputs-container">

          <div class="input-container">
            <label for="sort">sort</label>
            <select formControlName="sort" id="sort">
              <option value="prepTimeAscending">preparation time ascending</option>
              <option value="prepTimeDescending">preparation time descending</option>
              <option value="difficultyAscending">difficulty ascending</option>
              <option value="difficutlyDescending">difficulty descending</option>
              <option value="priceAscending">price ascending</option>
              <option value="priceDescending">price descending</option>
            </select>
          </div>
        </div>

        <button (click)="onSortClick()">Sort</button>
        <button (click)="onClearSortClick()">Clear Sorting</button>

      </form>
    </div>
  </div>
  <div class="recipes-list-container">
    <app-recipes-list-element
      *ngFor="let recipe of recipes"
      [recipe]="recipe"
    ></app-recipes-list-element>
  </div>
</div>
