.recipes-list-container {
  width: 100%;
  max-width: 60rem;
}

.filter-sort-container {
  width: 100%;
  max-width: 60rem;
  padding: 0.5rem;
}

.inputs-container {
  display: flex;
  flex-direction: row;
}

.input-container {
  display: flex;
  flex-direction: row;
}

.input-container label {
  width: fit-content;
}
