<div class="full-width-flex-container">
  <div class="recipes-nav-container">

    <button
      [routerLink]="['/recipes/recipes-list/user-recipes']"
      [routerLinkActive]="'active'"
      class="recipes-nav-btn">
      My Recipes
    </button>

    <button
      [routerLink]="['/recipes/recipes-list/recipes-base']"
      [routerLinkActive]="'active'"
      class="recipes-nav-btn">
      Recipes Base
    </button>

    <button
      [routerLink]="['/recipes/recipes-list/community-recipes']"
      [routerLinkActive]="'active'"
      class="recipes-nav-btn comm-rec">
      Community Recipes
    </button>

  </div>

  <div class="filter-sort-container">
    <div class="filter-container">

      <form [formGroup]="filterForm">

        <div class="inputs-container">

          <div class="input-container">
            <label for="name">Name</label>
            <input class="ipt-name" formControlName="name" id="name" type="text">
          </div>

          <div class="input-container">

            <div>
              <label for="prepTime">PrepTime</label>
              <input class="ipt-prep-time" formControlName="prepTime" id="prepTime" type="text">
            </div>

            <div class="diff-container">
              <label for="difficulty">Difficulty</label>
              <select class="ipt-difficulty" formControlName="difficulty" id="difficulty">
                <option value="easy">easy</option>
                <option value="medium">medium</option>
                <option value="hard">hard</option>
              </select>
            </div>

          </div>

          <div class="input-container">
            <div>
              <label for="tags">Tags</label>
              <input class="ipt-tags" formControlName="tags" id="tags "type="text">
              <button (click)="onAddTagClick()" class="btn-default">+</button>
            </div>
          </div>
          <div class="tags-container">
            <div class="tag-container" *ngFor="let tag of tags; let i = index">
              <p class="tag"> {{ tag }} </p>
              <button (click)="onXClick(i)" class="btn-default">x</button>
            </div>
          </div>

        </div>

        <div class="btns-container">

          <button [ngClass]="filtering ? 'active' : ''" class="btn-default" (click)="onFilterClick()">Filter</button>
          <button class="btn-default" (click)="onClearFiltersClick()">Clear Filters</button>

        </div>

      </form>
    </div>
    <div class="sort-container">
      <form [formGroup]="sortForm">
        <div class="inputs-container">

          <div class="input-container">
            <label for="sort">sort</label>
            <select formControlName="sort" id="sort">
              <option value="prepTimeAscending">preparation time ascending</option>
              <option value="prepTimeDescending">preparation time descending</option>
              <option value="difficultyAscending">difficulty ascending</option>
              <option value="difficutlyDescending">difficulty descending</option>
            </select>
          </div>
        </div>
        <div class="btns-container">
          <button [ngClass]="sorting ? 'active' : ''" class="btn-default" (click)="onSortClick()">Sort</button>
          <button class="btn-default" (click)="onClearSortClick()">Clear Sorting</button>
        </div>

      </form>
    </div>
  </div>
  <div *ngIf="recipesType === 'user-recipes'" class="new-recipe-container">
    <button class="btn-default" [routerLink]="['/new-recipe']"> New Recipe</button>
  </div>
  <div class="list-header">
    <p class="header-name header-title">Name</p>
    <p class="header-prep-time header-title">Prep. Time</p>
    <p class="header-difficulty header-title">Difficulty</p>
    <p class="header-pantry header-title">Pantry</p>
    <p class="placeholder"></p>
  </div>
  <div *ngIf="loading" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  <div *ngIf="!loading" class="recipes-list-container">
    <app-recipes-list-element
      *ngFor="let recipe of recipes"
      [recipe]="recipe"
      [recipesType]="recipesType"
    ></app-recipes-list-element>

    <p *ngIf="recipes!.length === 0 && !loading">
      You didn't add recipe to your recipes.
      Add a recipe from our Recipe Base, or create your own recipe.
    </p>

  </div>
</div>
