@import '../../../scss/variables';

// TOP
.top-fixed-container {
  position: fixed;
  top: 3rem;
  left:0;

  display: flex;
  flex-direction: column;
  gap:0.5rem;

  background-color: $dominant-color;
  overflow: hidden;

  -webkit-appearance: none;
  box-shadow:  0px 0px 2px 0px $accent-dark-color;;
  -webkit-box-shadow:  0px 0px 2px 0px $accent-dark-color;

  transition: height 500ms ease-in-out 0ms;

  z-index: 60;
}

.btns-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.75rem;
}

.search-container {
  position: relative;

  padding: 0.75rem;
  padding-top: 0rem;
}

.search-container img {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  width: 2rem;
  opacity:0.25;
  filter: invert(73%) sepia(15%) saturate(5545%) hue-rotate(338deg) brightness(98%) contrast(87%);
}

.search-container .searching {
  opacity: 1;
  transition: opacity 500ms ease-in-out 0ms ;

  animation-name: search-icon;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

  @keyframes search-icon {
    0%   {transform: translateY(0)}
    20%   {transform: translateY(-5px)}
    100%   {transform: translateY(0)}
  }
}

.ipt-default {
  padding: 0.75rem 0.25rem;
  color:$default-text-color;
  font-weight: bold;
  font-size: 1rem;
}

.recipes-nav-btn {
  cursor: pointer;
  padding: 0.75rem 0.1rem;
  border: none;
  font-size: 1.3rem;
  border-radius: 5px;

  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: $dominant-color;
  color: $default-text-color;
  transition: box-shadow 500ms ease-out 0ms;
}

.recipes-nav-btn.active {
  -webkit-appearance: none;
  box-shadow:  0px 0px 1.5px 1.5px $accent-cta-color;
  -webkit-box-shadow:  0px 0px 1.5px 1.5px $accent-cta-color;
  color: $accent-cta-color;
  background-color: $accent-color;
}

.btn-filter-sort {
  border: none;
  background-color: $dominant-color;
  width: fit-content;

  transition: transform 300ms ease-in-out 0ms;
}

.btn-filter-sort:active {
  transform: translateY(-5px);
}

.btn-filter-sort img {
  width: 2.5rem;
  filter: invert(73%) sepia(15%) saturate(5545%) hue-rotate(338deg) brightness(98%) contrast(87%);
}

// CONTENT
.recipes-list-container {
  position: relative;

  margin-top: 10.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.loading-fog {
  position: absolute;
  top:0;
  left:0;

  width:100%;
  height: 100%;

  background-color: rgba($dominant-color, 0.75);

  z-index: 10;
}

.spinner-container {
  position: fixed;
  top: 12.5rem;
  left: 40%;

  z-index: 20;
}

.empty-list-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  gap:0.5rem;
}

.empty-list-message-container p{
  text-align: center;
  font-size: 0.85rem;
  color: $default-text-color;
}

.empty-list-message-container .btn-default {
  margin-top: 1rem;
}

// FILTER & SORT
.filter-sort-fixed-container {
  position: fixed;
  bottom: 0;
  left:0;

  height: 0rem;
  width: 100%;

  background-color: $accent-color;

  z-index: 100;

  transition: height 1000ms ease-in-out 0ms;
  box-shadow: 0px 0px 2px 0px $accent-dark-color;

}

.filter-sort-fixed-container.opened {
  height: calc(100% - 2.75rem);
}

.filter-sort-container {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;

}

.header-container {
  position: relative;
}

.filter-sort-header {
  font-size: 1.6rem;
  text-align: center;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:$accent-cta-color;
}

.close-filter-sort-menu-btn {
  position: absolute;
  top: -0.25rem;
  right:-0.25rem;

  width: fit-content;
  border: none;
  background-color: $accent-color;
}

.close-filter-sort-menu-btn img {
  width: 2.5rem;
  height: 2.5rem;
}

.filter-container,
.sort-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filter-header,
.sort-header {
  font-size: 1.6rem;
  font-weight: bold;
  color: $default-text-color;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.filter-btns-container {
  display: flex;
  flex-direction: column;
  gap:0.75rem;
}

.btn-apply {
  padding:1rem 0.25rem;
}

.btn-clear {
  position: relative;
  right: 0;

  transition: right 750ms ease-in-out 0ms;
}

.btn-clear.hidden {
  right: 100vw;
}

.btn-sort {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: $dominant-color;
  padding: 0.75rem 0.25rem;
  border-radius: 5px;
  border:none;
  font-size: 1.3rem;

  -webkit-appearance: none;
  box-shadow:  0px 0px 0.5px 0.5px $accent-cta-color;
  -webkit-box-shadow:  0px 0px 0.5px 0.5px $accent-cta-color;
}

.btn-sort p {
  text-align: left;
  color: $default-text-color;
}

.btn-sort img {
  position: absolute;

  top: 0.25rem;
  right:0;
  width: 2.5rem;
  height: 2.5rem;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: $dominant-color;
  outline: none;
  box-shadow: 0px 0px 2px 0px $accent-dark-color;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $accent-cta-color;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $accent-cta-color;
  cursor: pointer;
}

.highlight {
  color: $accent-cta-color;
  font-weight: bolder;
}

