<div class="full-width-flex-container">
  <div class="navigation-container">
    <button [routerLinkActive]="'active'" [routerLink]="['/welcome']" class="logo">mealSelect</button>
    <div class="right-nav">
        <button *ngIf="isUserLoggedIn" [routerLinkActive]="'active'" [routerLink]="['/shopping-list']" class="btn-topnav">Shopping List</button>
        <button *ngIf="isUserLoggedIn" [routerLinkActive]="'active'" [routerLink]="['/recipes']" class="btn-topnav">Recipes</button>
        <button *ngIf="isUserLoggedIn" class="btn-topnav" (click)="onLogoutClick()">Logout</button>

        <button *ngIf="!isUserLoggedIn" [routerLinkActive]="'active'" [routerLink]="['/login']" class="btn-topnav">Log In</button>
        <button *ngIf="!isUserLoggedIn" [routerLinkActive]="'active'" [routerLink]="['/register']" class="btn-topnav">Sign In</button>

        <button [routerLinkActive]="'active'" (click)="onHamburgerClick()" class="hamburger">Ham</button>
    </div>
    <nav (click)="onHamburgerClick()" class="sidenav-container" [ngClass]="navbarOpen ? 'open' : ''">
      <button [routerLink]="['/recipes']" class="btn-nav">Recipes</button>
      <button [routerLink]="['/shopping-list']" class="btn-nav">ShoppingList</button>
      <button class="btn-nav">my Recipes</button>
      <button class="btn-nav">my Stash</button>
      <button class="btn-nav">to cook list</button>
      <button class="btn-nav">Logout</button>
    </nav>
  </div>

  <div *ngIf="modalOpened" class="clear-list-modal" (click)="onModalClick()">
    <h3 class="header" >Are you sure that you want Log out?</h3>
    <button (click)="onYesClick()" class="btn btn-yes">Yes</button>
    <button class="btn btn-cancel">Cancel</button>
  </div>

</div>

