@import '../../scss/variables';

* {
  color: $default-text-color;
}

.navigation-container {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0.5rem 1rem;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $dominant-color;
  box-shadow: 0px 1px 3px 1px $accent-cta-color;
}

.right-nav {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.btns-wrapper {
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-topnav {
  font-weight: 600;
  width: fit-content;
  padding: 0px 0.5rem;
  cursor: pointer;
  background-color: $dominant-color;
  border: none;
  transition: color 300ms ease-out 0ms, box-shadow 300ms ease-out 0ms;
  margin-right: 10px;
}

.btn-topnav:hover,
.btn-topnav.active {
  box-shadow: 0px 2px 0px 0px $accent-cta-color;
  color: $accent-cta-color;
}

.logo,
.hamburger {
  cursor: pointer;
  width: fit-content;
  padding: 0.15rem;
  background-color: $dominant-color;
  font-weight: 600;
  border: none;
  transition: color 300ms ease-out 0ms, box-shadow 300ms ease-out 0ms;
}

.hamburger.active,
.logo.active {
  box-shadow: 0px 2px 0px 0px $accent-cta-color;
  color: $accent-cta-color;
}

.logo:hover,
.hamburger:hover {
  box-shadow: 0px 2px 0px 0px $accent-cta-color;
  color: $accent-cta-color;
}

.sidenav-container {
  background-color: $dominant-color;
  box-shadow: 1px 3px 3px 0px $secondary-color;
  position: fixed;
  top: 2.4rem;
  left:0;
  height: calc(100vh - 2.25rem);

  width: 0;
  overflow: hidden;
  transition: width 200ms ease 0ms, padding 500ms ease 0ms;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav-container.open {
  padding: 1rem;
  width: 20rem;
}

.btn-nav {
  width: 0;
  overflow: hidden;
  color: $accent-cta-color;

}

.open .btn-nav {
  cursor: pointer;
  min-width: 5rem;
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  transition: scale 500ms ease 0ms, background-color 500ms ease 0ms, color 500ms ease 0ms;
  background-color: $dominant-color;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: 0px 0px 5px 1px $accent-cta-color;
}

.open .btn-nav:hover {
  scale: 110%;

  background-color: $accent-cta-color;
  color: $accent-color;
}
.hamburger{
  display: none;
}

@media screen and (max-width: 420px) {
  .sidenav-container.open{
    width: 100%;
  }

  .btn-topnav {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

.btn {
  font-size: 1.5rem;
  font-weight: bolder;
  cursor: pointer;
  background-color: $dominant-color;
  border:none;
  margin-top: 7px;
  width: fit-content;
  max-width: 15rem;
  padding: 0.5rem;
  color: $accent-cta-color;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px $accent-cta-color;
  transition: color 500ms ease-out 0ms, background-color 500ms ease-out 0ms, scale 300ms ease-out 0ms;

}

.btn:hover {
  box-shadow: 0px 0px 6px 0px $accent-cta-color;
  background-color: $accent-cta-color;
  color: $accent-color;
  scale: 110%;
}

.clear-list-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-color: rgba($dominant-color, 0.808);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-weight: bolder;
  color: $secondary-text-color;
  margin-bottom: 2rem;
  padding: 0.5rem;

  border-radius: 5px;
  text-align: center;
}

.btn {
  margin-bottom:1rem;
  min-width: 10rem;
}
