<div class="full-width-flex-container">
  <div class="new-recipe-container">

    <form [formGroup]="recipeForm">
      <div class="recipe-form-container">
        <label for="recipe-name">Recipe Name</label>
        <input formControlName="name" id="recipe-name" type="text" [placeholder]="recipe.name" >
        <ul>
          Ingredients
          <li *ngFor="let product of recipe.ingredients">{{product.name}} {{product.quantity}} {{ product.unit }}</li>
          <form [formGroup]="ingredientForm">
            <input formControlName="productName" type="text" placeholder="product Name">
            <input formControlName="productQuantity" type="text" placeholder="quantity">
            <input formControlName="productUnit" type="text" placeholder="unit">
            <button (click)="onAddIngredient()" >Add Ingredient</button>
          </form>
        </ul>

        <ul>
          Preparation
          <li *ngFor="let step of recipe.prepSteps">{{ step }}</li>
          <form [formGroup]="stepForm">
            <input formControlName="step" type="text" placeholder="Preparation Step">
            <button (click)="onAddStep()" >Add Step</button>
          </form>
        </ul>

        <label for="prep-time">Preparation Time</label>
        <input formControlName="prepTime" id="prep-time" type="text">

        <label for="difficulty">Difficulty</label>
        <input formControlName="difficulty" id="difficulty" type="text">

        <label for="servings">Servings</label>
        <input formControlName="servings" id="servings" type="text">

        <label for="price-per-serving">Price Per Serving</label>
        <input formControlName="pricePerServing" id="price-per-serving" type="text">

        <button (click)="onAddRecipe()">Add Recipe</button>
      </div>
    </form>
  </div>
</div>
