@import '../../../scss/variables';

// TOP
.top-fixed-container {
  position: fixed;
  top: 3rem;
  left:0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;

  background-color: $dominant-color;
  padding: 0.75rem 0.5rem;

  -webkit-appearance: none;
  box-shadow:  0px 0px 2px 0px $accent-dark-color;;
  -webkit-box-shadow:  0px 0px 2px 0px $accent-dark-color;

  z-index: 60;
}

.progress-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.progress-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.progress-description p {
  width: fit-content;

  color: $accent-cta-color;
  font-size: 0.75rem;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.progress-bar-container {
  height: 1rem;
  background-color: $accent-color;
  border-radius: 5px;

  overflow: hidden;

  -webkit-appearance: none;
  box-shadow:  0px 0px 2px 0px $accent-dark-color;;
  -webkit-box-shadow:  0px 0px 2px 0px $accent-dark-color;
}

.progress-bar {
  height: 100%;
  width: 0;

  background-color: $accent-cta-color;

  transition: width 800ms ease-in-out 100ms;
}

.progress-bar-25 {
  width: 25%
}

.progress-bar-50 {
  width: 50%
}

.progress-bar-75 {
  width: 75%
}

.progress-bar-100 {
  width: 100%
}

.ingredients-inputs-container {
  display: flex;
  flex-direction: column;
  gap:0.5rem;
}

.ipt-default {
  font-size: 1.2rem;
  color:$default-text-color;
}

.ingredients-second-row {
  display: flex;
  flex-direction: row;
  gap:0.5rem;
}

@keyframes btn-change {
  0%   {transform: scale(1);}
  20%   {transform: scale(1.05);}
  60%   {transform: scale(0.9);}
  100% {transform: scale(1);}
}

@keyframes btn-activate {
  0%   {transform: scale(1); opacity:0.5;}
  20%   {transform: scale(1.05); opacity:0.7;}
  60%   {transform: scale(0.9); opacity:0.9;}
  100% {transform: scale(1); opacity:1;}
}

.btn-add,
.btn-save {
  padding: 0;

  max-width: 5rem;
  min-height: 5rem;
}

.btn-save {
  animation-name: btn-change;
  animation-duration: 400ms;
  animation-timing-function: ease;
}

.btn-default.activated {
  animation-name: btn-change;
  animation-duration: 400ms;
  animation-timing-function: ease;
}

.ingredient-form,
.tags-form,
.steps-form {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.recipe-form textarea,
.tags-form textarea,
.steps-form textarea {
  resize:none;
}

// CONTENT
.new-recipe-container {
  position: fixed;
  top: 7rem;
  left: 0;
  width: 100%;
  height: calc(100% - 11rem);
}

.recipe-input-container {
  display: flex;
  flex-direction: column;
  gap:0.1rem;

  padding:0.25rem;
}

.recipe-form,
.preview-container,
.tags-container,
.steps-container,
.ingredients-container {
  position: absolute;
  top:0;
  left:0;
  margin-bottom: 5.5rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  padding:0.5rem;

  transition: transform 800ms ease-in-out 100ms;
}

.left {
  transform: translateX(-100vw);
}

.ceneter {
  transform: translateX(0);
}

.right {
  transform: translateX(100vw);
}

.recipe-form {
  gap:0.5rem;
}

.preview-container {
  height: 100%;
  overflow-y: scroll;
}

.list-container {
  max-height: calc(100% - 6.65rem);
  overflow-y: scroll;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

.divider {
  position: absolute;
  bottom: -0.5rem;
  left: -0.5rem;

  width: 100vw;
  -webkit-appearance: none;
  box-shadow:  0px 0px .25px .25px $accent-dark-color;
  -webkit-box-shadow:  0px 0px .25px .25px $accent-dark-color;
}

.list-el-container {
  display: flex;
  flex-direction: row;
  gap:0.75rem;

  padding: 0.35rem 0.25rem;
}

.tag,
.step,
.ingredient {
  position: relative;

  display: flex;
  flex-direction: row;
  gap:0.25rem;

  padding: 0.5rem 0.25rem;
  font-size: 1.2rem;

  border-radius: 5px;
  background-color: $accent-color;

  -webkit-appearance: none;
  box-shadow:  0px 0px 2px 0px $accent-dark-color;;
  -webkit-box-shadow:  0px 0px 2px 0px $accent-dark-color;
}

.tag.active-tag,
.step.active-step,
.ingredient.active-ingredient {
  -webkit-appearance: none;
  box-shadow:  0px 0px 2px 2px $accent-cta-color;;
  -webkit-box-shadow:  0px 0px 2px 2px $accent-cta-color;
}

.ingredient p {
  width: fit-content;
}

.btns-container {
  position: absolute;
  top:0;
  left:0;

  width:100%;
  height:100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  border-radius: 5px;
  background-color: rgba($accent-cta-color, 0.25);

  z-index: 10;

  transition: display 500ms ease-in-out 0ms;
}

.btns-container .btn-default {
  width: 5rem;
  height: 80%;

  padding:0;

  font-size: 0.8rem;
}

.btns-show {
  max-width: 2.5rem;

  background-color: $dominant-color;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btns-show img {
  filter: invert(73%) sepia(15%) saturate(5545%) hue-rotate(338deg) brightness(98%) contrast(87%);
}

// BOTTOM
.bottom-fixed-container {
  position: fixed;
  left:0;
  bottom:0;

  display: flex;
  flex-direction: row;
  gap:1rem;

  padding:0.75rem;
  background-color: $dominant-color;

  -webkit-appearance: none;
  box-shadow:  0px 0px 2px 0px $accent-dark-color;
  -webkit-box-shadow:  0px 0px 2px 0px $accent-dark-color;

  z-index: 60;
}

@keyframes shine {
  0% { transform: scale(1)}
  50% { transform: scale(1.1)}
  100% { transform: scale(1)}
}

.btn-recipe-save,
.btn-recipe-add {
  animation-name: shine;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
