<div class="full-width-flex-container">
  <div class="shopping-list-container" (click)="onClickOutsideElementMenu($event)">

    <div [ngClass]="{ 'opened': pageMenuOpened }" class="page-header-container">

      <div class="header-container">
        <h1 class="header">Shopping List</h1>
        <button (click)="onMoreClick()" class="btn-more">
          <img [src]="pageMenuOpened ? './../../assets/cancel2-svgrepo-com.svg' : './../../assets/more-vertical-svgrepo-com.svg'" alt="more button icon">
        </button>
      </div>

      <div (click)="closeMoreMenu()" class="page-menu-opened">
          <button [ngClass]="shoppingListElements?.length !== 0 ? '' : 'invalid'"  class="btn-default" (click)="onClearList()">Clear list</button>
          <button [ngClass]="boughtElements ? '' : 'invalid'" class="btn-default" (click)="onAddBoughtElementsToPantry()">Add marked to Pantry</button>
      </div>

    </div>

    <div
      class="form-container"
      [formGroup]="form"
      >
        <div [ngClass]="{'editing': productEditing}" class="inputs-container">

          <div class="ipts-first-row">
            <input
            type="text"
            class="ipt-default ipt-name"
            placeholder="Name"
            formControlName="productName">
          </div>

          <div class="ipts-second-row">
            <input
              type="number"
              class="ipt-default ipt-qty"
              placeholder="Qty"
              formControlName="productQuantity">

            <input
              type="text"
              class="ipt-default ipt-unit"
              placeholder="Unit"
              formControlName="productUnit">
          </div>

        </div>

        <div class="btn-container">
          <button [ngClass]="form.valid ? '' : 'invalid'" (click)="onAddClick()" *ngIf="!productEditing" class="btn-default btn-form">Add</button>
          <button [ngClass]="form.valid ? '' : 'invalid'" (click)="onSaveClick()" *ngIf="productEditing" class="btn-default btn-form">Save</button>
        </div>

      </div>

    <div class="list-container" (click)="closeMoreMenu()">

      <div *ngIf="loading" class="loading-container">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
      </div>

      <div *ngIf="(shoppingListElements === undefined || shoppingListElements.length === 0) && !loading" class="empty-pantry">
        <p>Your Shopping List is empty</p>
      </div>

      <div class="shopping-list-elements-container">
        <app-shopping-list-element
        *ngFor="let element of shoppingListElements; let i = index"
        [product]="element"
        [productIndex]="i"
        [editing]="i === editedProductIndex"
        ></app-shopping-list-element>
      </div>

    </div>

  </div>
</div>


