@import '../../scss/variables';

.shopping-list-container {
  position: relative;
  padding: 0.25rem;
  max-width: 60rem;
}

.shopping-list-elements-container {
  padding:0.5rem;
}

.header {
  color: $accent-text-color;
  margin-bottom: 1rem;
}

.btns-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.clear-list-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-color: rgba($dominant-color, 0.808);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
