@import '../../scss/variables';

.shopping-list-container {
  position: relative;
  padding: 0.25rem;
  max-width: 60rem;
}

.shopping-list-elements-container {
  padding:0.5rem;
}

.header {
  color: $accent-text-color;
  margin-bottom: 1rem;
}

.btns-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem;

}

.inputs-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0.5rem 0.25rem;
}

.ipt-qty,
.ipt-unit {
  max-width: 15%;
}

.btn-default {
  padding: 0.75rem 0.25rem;
  width: 50%;
}

.btn-default.btn-form {
  padding: 0.25rem 0.25rem;
}

.btn-form {
  max-width: 3rem;
}

.clear-list-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-color: rgba($dominant-color, 0.808);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
