@import '../../scss/variables';

.shopping-list-container {
  position: relative;
  padding: 0.25rem;
  max-width: 60rem;
}

.header-container {
  position: fixed;
  top:2.5rem;
  left:0;
  padding:0.25rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;


  background-color: $dominant-color;
  z-index: 100;
}


.header-container .header {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-container .btn-more {

  border: none;
  background-color: $dominant-color;
}

.header-container .btns-container {
  position: absolute;


  top: 4rem;
  left: 15%;

  width: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  border-radius: 5px;
  padding: 0.75rem;
  background-color: $accent-color;
  box-shadow: 0px 0px 5px 0px $accent-cta-color;

  z-index: 100;
}

.btns-container .btn-default {
  width: 100%;
}

.btn-more img {
  filter: invert(73%) sepia(15%) saturate(5545%) hue-rotate(338deg) brightness(98%) contrast(87%);
}

.shopping-list-elements-container {
  padding:0.5rem;
}

.btn-more {
  max-width: 3rem;
}

.header {
  color: $accent-text-color;
  margin-bottom: 1rem;
}



.empty-list-message {
  padding: 0.5rem 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-list-message p {
  text-align: center;
  color: $default-text-color;
  font-size: 0.75rem;
}

.inputs-container {
  position: fixed;
  top: 6rem;
  left:0;

  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0.5rem 0.25rem;
  z-index: 100;
  background-color: $dominant-color;
}

.ipt-qty,
.ipt-unit {
  max-width: 15%;
}

.btn-default {
  padding: 0.75rem 0.25rem;
  width: 50%;
}

.btn-default.btn-form {
  padding: 0.25rem 0.25rem;
}

.btn-form {
  max-width: 3rem;
  transition: opacity 500ms ease-in-out 0ms;
}

.btn-form.invalid {
  opacity:0.5;
  pointer-events: none;
}

.clear-list-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-color: rgba($dominant-color, 0.808);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem;
}

.clear-list-modal .header {
  width:70%;
  text-align: center;
}


.content {
  margin-top: 7rem;
}
