@import '../../../scss/variables';

$btn-delete-color:hsl(348, 100%, 31%);
$btn-delete-shadow-color:hsl(348, 50%, 31%);
$btn-edit-color: hsl(210, 100%, 56%);
$btn-edit-shadow-color:hsl(210, 50%, 44%);
$btn-save-color: #1de581;
$btn-save-shadow-color:hsl(150, 50%, 56%);


.shopping-list-element-container{
  width: 100%;
  max-width: 35rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.field-second {
  width: 30%;
  text-align: right;
}

.list-element {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 1rem;
  margin-bottom: 0.6rem;

  border-radius: 5px;

  box-shadow: 0px 0px 6px 0px gray;
  background-color: $primary-gray;

  transition: transform 200ms ease-in-out 0ms, color 600ms ease-in-out 0ms;
  overflow: hidden;
}

.non-active {
  box-shadow: 0px 0px 0px 2px green;
}

.list-element:hover {
  transform: translate(-7px);
  box-shadow: 0px 0px 7px 1px gray;
}

.non-active .tick {
  transform: scale(1);
}

.tick {
  position: absolute;
  top: 50%;
  left:50%;
  min-width: 7rem;
  width: 20%;
  height: 70%;
  border-radius: 5px;
  translate:-50% -50%;
  background-color: #1de581;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  border: 2px solid white;
  color: white;
  transform: scale(0);

  transition: transform 600ms ease-in-out 0ms;
}

.green-window {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  transition: background-color 600ms ease-in-out 0ms;
}

.list-element.non-active .green-window {
  background-color: rgba(39, 200, 7,0.5);
}

.list-element.non-active {
  color: gray;
}

.buttons-container {
  width: 20%;
  min-width: 6rem;
  max-width: 8rem;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0.6rem;
}

.btn:focus {
  outline: none;
  border: 2px solid white;
}

.btn.btn-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.btn {
  cursor: pointer;

  width: 2.5rem;
  height: 2.75rem;

  rotate: 45deg;
  border-radius: 50%;
  border:none;

  transition: transform 500ms ease-in-out 0ms, opacity 500ms ease-in-out 0ms;
}

.btn:hover {
  transform: translate(3px);
}

.btn-delete {
  background-color: $btn-delete-color;
  box-shadow: 0px 0px 5px 0px gray;
}

.btn-edit {
  background-color: $btn-edit-color;
  box-shadow: 0px 0px 5px 0px gray;
}

.btn-save {
  background-color: $btn-save-color;
  box-shadow: 0px 0px 5px 0px gray;
}

.btn-delete:hover {
  box-shadow: 0px 0px 10px 0px $btn-delete-shadow-color;
}

.btn-edit:hover {
  box-shadow: 0px 0px 10px 0px $btn-edit-shadow-color;
}

.btn-save:hover {
  box-shadow: 0px 0px 10px 0px $btn-save-shadow-color;
}

.delete-img,
.edit-img,
.save-img {
  width: 2rem;
  rotate: -45deg;
}

.btn:hover .delete-img,
.btn:hover .edit-img,
.btn:hover .save-img {
  filter: invert(99%) sepia(71%) saturate(305%) hue-rotate(13deg) brightness(105%) contrast(92%);
}

