<div class="main-container">

  <div
    *ngIf="product && !editMode"
    class="list-element"
    (click)="onProductClick()"
    [class.non-active]="!isActive">

    <div>
      <p>{{ product.name }}</p>
    </div>

    <div>
      <p>{{ product.quantity}} {{product.unit}}</p>
    </div>

  </div>

  <app-shopping-list-input *ngIf="editMode" [editing]="editMode"></app-shopping-list-input>

  <div class="buttons-container" >

    <button  class="btn btn-delete" (click)="onButtonClick()">
      <img class="delete-img" src="../../../assets/delete-svgrepo-com.svg">
    </button>

    <button *ngIf="!editMode" class="btn btn-edit" (click)="onEditButtonClick()">
      <img class="edit-img" src="../../../assets/edit-1-svgrepo-com.svg">
    </button>

    <button *ngIf="editMode" class="btn btn-save" (click)="onSaveButtonClick()">
    <img class="save-img" src="../../../assets/tick-svgrepo-com.svg">
    </button>

  </div>

</div>


