@import '../../../scss/variables';

.shopping-list-element-container{
  width: 100%;
  max-width: 35rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.list-el-default {
  position: relative;
}

.btn-more {
  position: relative;
  cursor: pointer;

  width: 2rem;
  border: none;
  font-weight: bolder;
  background-color: $dominant-color;
}

.more-menu {
  position:absolute;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  z-index: 50;

  background-color: rgba(#e3c29e, 0.8);
}

.more-menu .btn-default {
  width:5rem;
  height: 80%;
  padding: 0.25rem;

  font-size: 0.85rem;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-more img {
  filter: invert(73%) sepia(15%) saturate(5545%) hue-rotate(338deg) brightness(98%) contrast(87%);
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-attr-container {
  display: flex;
  flex-direction: row;
  gap:3px;
}

.attr-name {
  text-align: left;
  width: fit-content;
  margin-right: 0.5rem;
}

.attr-unit,
.attr-qty {
  width:fit-content;
  text-align: left;
}

.non-active {
  outline: 2px solid $default-text-color;
}

.non-active .tick {
  transform: scale(1);
}

.tick {
  position: absolute;
  top: 50%;
  left:50%;
  min-width: 7rem;
  width: 20%;
  height: 70%;
  border-radius: 5px;
  translate:-50% -50%;
  background-color: $accent-cta-color;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  border: 2px solid $default-text-color;
  color: white;
  transform: scale(0);

  transition: transform 600ms ease-in-out 0ms;
}

.el-edit {
  box-shadow: 0px 0px 1.5px 1.5px $accent-cta-color;
  background-color: #e3c29e;
}

.gray-window {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  transition: background-color 600ms ease-in-out 0ms;
}

.list-el-default.non-active .gray-window {
  background-color: rgba($accent-text-color, 0.25);
}

.list-el-default.non-active {
  color: gray;
}

.buttons-container {
  width: 20%;
  min-width: 6rem;
  max-width: 8rem;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0.6rem;
}

.btn:focus {
  outline: none;
  border: 2px solid $accent-cta-color;
}

.btn.btn-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.btn {
  cursor: pointer;

  width: 2.5rem;
  height: 2.75rem;

  rotate: 45deg;
  border-radius: 50%;
  border:none;

  transition: opacity 500ms ease-in-out 0ms;
  transition: background-color 500ms ease-out 0ms;
}


.btn-delete {
  background-color: $dominant-color;
}

.btn-edit {
  background-color: $dominant-color;
}

.btn-save {
  background-color: $dominant-color;
}

.btn-delete:hover {
  background-color: $accent-cta-color;
  box-shadow: 0px 0px 10px 0px $accent-cta-color;
}

.btn-edit:hover {
  background-color: $accent-cta-color;
  box-shadow: 0px 0px 10px 0px $accent-cta-color;
}

.btn-save:hover {
  background-color: $accent-cta-color;
  box-shadow: 0px 0px 10px 0px $accent-cta-color;
}

.delete-img,
.edit-img,
.save-img {
  width: 2rem;
  rotate: -45deg;
  filter: invert(75%) sepia(21%) saturate(6337%) hue-rotate(340deg) brightness(100%) contrast(84%);
}

.btn:hover .delete-img,
.btn:hover .edit-img,
.btn:hover .save-img {
  filter: invert(99%) sepia(71%) saturate(305%) hue-rotate(13deg) brightness(105%) contrast(92%);

}

