<div class="main-container">

  <div
    class="inputs-container"
  >

    <input
      type="text"
      class="name-input ipt"
      placeholder="Name"
    >
    <input
      type="number"
      class="quantity-input ipt"
      placeholder="Quantity"
    >
    <input
      type="text"
      class="unit-input ipt"
      placeholder="Unit"
    >

  </div>

  <div
    class="buttons-container"
  >
    <button
      class="btn"
    ></button>
    <button
      class="btn"
    ></button>

  </div>

</div>

