<div class="full-width-flex-container">
  <div class="shopping-list-input-container">

    <div
      class="inputs-container"
      [formGroup]="form"
    >

      <input
        type="text"
        class="ipt-default"
        placeholder="Name"
        formControlName="productName"
      >
      <input
        type="number"
        class="ipt-default"
        placeholder="Qty"
        formControlName="productQuantity"
      >
      <input
        type="text"
        class="ipt-default"
        placeholder="Unit"
        formControlName="productUnit"
      >

    </div>

    <div
      class="buttons-container"
      *ngIf="!editing"
    >
      <button
        [ngClass]="!form.valid ? 'disabled' : ''"
        (click)="onAddButtonClick()"
        class="btn-default"
        [tabIndex]="!form.valid ? -1 : ''"
      >
        Add
      </button>

    </div>

  </div>
</div>


