@import '../../../scss/variables';

$btn-add-color:#66d85e;
$btn-add-shadow-color:#57a336;
$btn-clear-color: #1e90ff;
$btn-clear-shadow-color:#1970c6;

.main-container{
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: row;

  margin-bottom: 0.6rem;
}

.inputs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1rem;

  border-radius: 5px;

  box-shadow: 0px 0px 6px 0px gray;
  background-color: $primary-gray;
}

.buttons-container {
  width: 18%;
  min-width: 6rem;
  max-width: 8rem;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  width: 40%;
  box-shadow: 0px 0px 6px 0px gray;
}

.btn:focus {
  outline: none;
  border: 2px solid white;
}

.btn.disabled {
  pointer-events: none;
  opacity:0.5;
}

.ipt {
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 0px 6px 0px gray;
  padding: 2.5px;
  padding-left: 0.25rem;
}

.ipt:focus {
  box-shadow: 0px 0px 6px 2px gray;
  outline: none;
}

.name-input {
  width: 40%;
}

.quantity-input {
  text-align: right;
  width: 28%;
  max-width: 10rem;
}

.unit-input {
  text-align: right;
  width: 14%;
  min-width: 2rem;
  max-width: 5rem;
}

.btn {
  cursor: pointer;

  width: 2.5rem;
  height: 2.75rem;

  rotate: 45deg;
  border-radius: 50%;
  border:none;

  transition: transform 500ms ease-in-out 0ms, opacity 500ms ease-in-out 0ms;
}

.btn:hover {
  transform: translate(3px);
}

.btn-add {
  background-color: $btn-add-color;
  box-shadow: 0px 0px 5px 0px gray;
}

.btn-add:hover {
  box-shadow: 0px 0px 10px 0px $btn-add-shadow-color;
}

.btn-clear {
  background-color: $btn-clear-color;
  box-shadow: 0px 0px 5px 0px gray;
}

.btn-clear:hover {
  box-shadow: 0px 0px 10px 0px $btn-clear-shadow-color;
}

.clear-img,
.add-img {
  width: 2rem;
  rotate: -45deg;
}

.btn:hover .clear-img,
.btn:hover .add-img {
  filter: invert(99%) sepia(71%) saturate(305%) hue-rotate(13deg) brightness(105%) contrast(92%);
}
