@import '../../../scss/variables';


.shopping-list-input-container{
  width: 100%;
  max-width: 35rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.6rem;

}

.inputs-container {
  display: flex;
  flex-direction: row;

  gap: 5px;
  padding: 0.25rem;
}

.buttons-container {
  width: 20%;
  min-width: 6rem;
  max-width: 8rem;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}



.btn:focus {
  outline: none;
  border: 2px solid white;
}

.btn.disabled {
  pointer-events: none;
  opacity:0.5;
}




.name-input {
  width: 40%;
}

.quantity-input {
  text-align: right;
  width: 28%;
  max-width: 10rem;
}

.unit-input {
  text-align: right;
  width: 14%;
  min-width: 2rem;
  max-width: 5rem;
}


.btn-default {
  max-width: 3rem;
  transition: opacity 500ms ease-in-out 0ms;
}
