@import '../../scss/variables';


.welcome-container {
  margin-top: 5rem;
  padding:2rem 0.75rem;

  display: flex;
  flex-direction: column;
  gap:5rem;
}

.welcome-container h3 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: $default-text-color;
  line-height: 1.2rem;
}

.welcome-container h1 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: $accent-cta-color;
  font-size: 1.7rem;
}

.bottom-fixed-container {
  position: fixed;
  left:0;
  bottom:0;

  display: flex;
  flex-direction: row;
  gap:1rem;

  padding:0.75rem;
  background-color: $accent-color;

  -webkit-appearance: none;
  box-shadow:  0px 0px 2px 0px $accent-dark-color;
  -webkit-box-shadow:  0px 0px 2px 0px $accent-dark-color;

  z-index: 60;
}
