<div class="full-width-flex-container">
  <div class="welcome-container">
    <section class="header">
      <h1 class="welcome">Welcome to MealSelect !</h1>
      <p>We help you chose best option for your meal (HEADACHE FREE)</p>
    </section>
    <section class="about">
      <div class="first-box box">
        <ul class="list questions">
          <li>
            <p>Are you tired of everyday struggle of chosing option for dinner?</p>
          </li>
          <li>
            <p>Does your daily diet consist of few meals which you prepare over and over?</p>
          </li>
        </ul>
        <p>If your answer for any of these questions was positive, This App is for YOU!</p>
      </div>
      <div class="second-box box">
        <p>Find an idea for your meal in our Recipes Base</p>
        <p>Chose a best option for you, filter recipes by:</p>
        <ul class="list filters">
          <li>
            <p>cuisine</p>
          </li>
          <li>
            <p>prepartion Time</p>
          </li>
          <li>
            <p>difficulty</p>
          </li>
          <li>
            <p>price</p>
          </li>
          <li>
            <p>... and many more</p>
          </li>
        </ul>
      </div>
      <div class="third-box box">
        <p>Tell us what is in your kitchen and we'll find a perfect option for you</p>
        <p>Put all ingredients you need for chosen recipe into Shopping List with only one click!</p>
        <p>Add your own recpes and share it with our community of friendly users.</p>
      </div>
    </section>
  </div>
</div>

<div *ngIf="!userLoggedIn" class="auth-buttons-container">

  <button
    class="btn btn-login"
    [routerLink]="['/login']">
    Log in
  </button>

  <button
    class="btn btn-signin"
    [routerLink]="['/register']">
    Sign in
  </button>

</div>
