<div class="full-width-flex-container">
  <div class="welcome-container">

    <h3>Who knew that the hardest part of being an adult is figuring out what to cook for dinner every single night for the rest of your life until you die</h3>
    <h1>This App makes your life hardest part free!</h1>

  </div>
</div>

<div *ngIf="!userLoggedIn" class="bottom-fixed-container">

  <button
    class="btn-default"
    [routerLink]="['/login']">
    Log in
  </button>

  <button
    class="btn-default"
    [routerLink]="['/register']">
    Sign up
  </button>

</div>
