@import '../../../scss/variables';

.pantry-element-container {
  display: flex;
  flex-direction: row;
}

.basic-attr-container {
  display: flex;
  flex-direction: row;
  gap: 3px;
  max-width: 15rem;
}

.attr-name {
  text-align: left;
  width: fit-content;
  margin-right: 0.5rem;
}

.attr-exp-date {
  text-align: right;
  width: fit-content;
}

.attr-unit,
.attr-qty {
  width:fit-content;
  text-align: left;
}

.btns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 0.25rem;
  padding: 0.25rem;
}

.btn-default {
  width: 20%;
}

.form-container {
  width:80%;
}

.inputs-container {
  display: flex;
  flex-direction: row;
  gap:5px;
}

