@import '../../../scss/variables';

.pantry-element-container {
  display: flex;
  flex-direction: row;
  gap:10px;
  max-width: 30rem;
}

.list-el-default {
  position: relative;
}

.el-edit {
  box-shadow: 0px 0px 1.5px 1.5px $accent-cta-color;
  background-color: #e3c29e;
}

.basic-attr-container {
  display: flex;
  flex-direction: row;
  gap: 3px;
  max-width: 12rem;
}

.attr-name {
  text-align: left;
  width: fit-content;
  margin-right: 0.5rem;
}

.attr-exp-date {
  text-align: right;
  width: fit-content;
}

.attr-unit,
.attr-qty {
  width:fit-content;
  text-align: left;
}

.product-expired-soon {
  color: $accent-cta-color;
  font-weight: bold;
}

.product-exipred {
  color: rgb(194, 1, 1);
  font-weight: bolder;
}

.more-menu {
  position:absolute;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  z-index: 50;

  background-color: rgba(#e3c29e, 0.8);
}

.more-menu .btn-default {
  width:5rem;
  height: 80%;
  padding: 0.25rem;

  font-size: 0.85rem;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-more {
  position: relative;
  cursor: pointer;

  width: 2rem;
  border: none;
  font-weight: bolder;
  background-color: rgba($dominant-color, 1);
}

.btn-more img {
  filter: invert(73%) sepia(15%) saturate(5545%) hue-rotate(338deg) brightness(98%) contrast(87%);
}
