<div class="full-width-flex-container">
  <div class="recipes-list-element-container">

    <div class="recipe-container" [routerLink]="['/recipes', recipesType, 'recipe', recipe.id.toString()]">
      <p class="name"> {{ recipe.name }} </p>
      <p *ngIf="recipe.tags" class="tags">tags: <span class="tag" *ngFor="let tag of recipe.tags; let i = index">#{{ tag }} </span></p>
      <p class="attributes"> {{ recipe.prepTime }}min, {{ recipe.difficulty }}, {{ recipe.ingredients.length - ingsInPantry}} ingredients missing</p>
      <p *ngIf="details" class="description">{{ recipe.description }}</p>
    </div>

    <button (click)="onMoreBtnClick()" class="btn-more">
      <img src="../../../../assets/more-vertical-svgrepo-com.svg" alt="">
    </button>

  </div>
</div>
