<div class="full-width-flex-container">
  <div class="recipes-list-element-container">
    <button
      class="recipe-attr"
      [routerLink]="['/recipes', recipesType, 'recipe', recipe.id.toString()]">
      <p class="rec-name"> {{ recipe.name }} </p>
      <p class="rec-prep-time"> {{ recipe.prepTime }} min</p>
      <p class="rec-difficulty"> {{ recipe.difficulty }} </p>
      <p class="rec-pantry"> {{ingsInPantry}}/{{ recipe.ingredients.length }}</p>
    </button>
    <div *ngIf="details">
      <p>{{recipe.description}}</p>
      <p *ngFor="let tag of recipe.tags"> {{ tag }} </p>
    </div>
  </div>
  <button (click)="onMoreBtnClick()" class="btn-more">...</button>
</div>
