@import '../../../../scss/variables';

.recipes-list-element-container {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  padding:0.15rem 0.5rem;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  gap:0.25rem;

  padding:0.25rem;
  background-color: $accent-color;

  border-radius: 5px;

  -webkit-appearance: none;
  box-shadow:  0px 0px 0.5px 0.5px $accent-cta-color;
  -webkit-box-shadow:  0px 0px 0.5px 0.5px $accent-cta-color;
  cursor: pointer;

}

@media screen and (min-width: 420px) {
  .recipe-container:hover {
    -webkit-appearance: none;
  box-shadow:  0px 0px 1.5px 1.5px $accent-cta-color;
  -webkit-box-shadow:  0px 0px 1.5px 1.5px $accent-cta-color;
  }
}

.name {
  font-size: 1.4rem;
  font-weight: bolder;
  color:  $accent-cta-color;
}

.tags {
  font-size: 1rem;
  color: $default-text-color;
}

.tag {
  color:$accent-text-color;
  font-weight: bold;
}

.attributes {
  font-size: 0.9rem;
  color: $default-text-color;
}

.description {
  color: $default-text-color;
  line-height: 1.15rem;
}

.btn-more {
  width:fit-content;
  height: fit-content;
  border:none;
  background-color: $dominant-color;

  transition:  scale 500ms ease-in-out 0ms;
}



.btn-more:active {
  transform: scale(1.1);
}

.btn-more img {
  width: 2.5rem;
  height: 2.5rem;
  filter: invert(74%) sepia(16%) saturate(4093%) hue-rotate(335deg) brightness(95%) contrast(93%);
}

