@import '../../../../scss/variables';

.full-width-flex-container {
  display: flex;
  flex-direction: row;
}

.btn-more {
  width:5%;
}

.recipes-list-element-container {
  padding:0.5rem;
  width: 90%;
}

.recipes-list-element-container p {
  width: fit-content;
}

.recipe-attr {
  cursor: pointer;
  padding: 0.75rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border: none;
  border-radius: 5px;
  background-color: $secondary-color;
  color: $accent-color;
  box-shadow: 0px 0px 5px 0px $secondary-color;
  border: 2px solid $accent-color;

  transition: scale 400ms ease 0ms;
}

.recipe-attr:hover {
  scale: 110%;
  box-shadow: 0px 0px 8px 0px $secondary-color;
}

.rec-prep-time,
.rec-difficulty {
  text-align: center;
}

.recipe-attr p {
  width:25%;
}

.rec-name {
  text-align: left;
}

.rec-pantry {
  text-align: right;
}
