// Trying to achevie 60 30 10 color distribution
// I want this app to have light vibe
// so i will use very light almost light color for dominant
// it will be background color for whole website
// i want secondary color to be pretty dark
// it will be used to distinguish element from one another
// now i want 2 accent color
// first contrasting to dominant and secondary color
// it will be "call to action color" used on buttons and so on
// second contrasting color i want it to be light color similar to dominant
// it will be used when i don't want to use on element call to action color
// but still want an element to be special

// color pallete
$dominant-color: #fffdf1; // I like dominant color and
$secondary-color: #7FD1AE; // secondary color together
$accent-cta-color: #EA9133;
$accent-color: #FBFAF0;

// font colors
$default-text-color: rgb(104, 104, 104);
$accent-text-color:#cf975a;

// $accent-cta-color: #E79B42;
// $accent-cta-color: #FF859A;
// $accent-cta-color: #EA9133;


// $dominant-color: #F4F9FF;
// $secondary-color: #404756;
// $accent-cta-color: #DAA21B;
// $accent-color: white;
