<div class="full-width-flex-container" (click)="onClickOutsideElementMenu($event)">
  <div class="pantry-container">

    <div [ngClass]="{ 'opened': pageMenuOpened }" class="page-header-container">

      <div class="header-container">
        <h1 class="header">Pantry</h1>
        <button (click)="onMoreClick()" class="btn-more">
          <img [src]="pageMenuOpened ? './../../assets/cancel2-svgrepo-com.svg' : './../../assets/more-vertical-svgrepo-com.svg'" alt="more button icon">
        </button>
      </div>

      <div (click)="closeMoreMenu()" class="page-menu-opened">
        <button [ngClass]="pantry === undefined || pantry.length === 0 ? 'invalid' : ''" (click)="onSortByDateClick()" class="btn-default">Sort By Expiration Date</button>
        <button [ngClass]="pantry === undefined || pantry.length === 0 ? 'invalid' : ''" (click)="onClearPantryClick()" class="btn-default">Clear Pantry</button>
      </div>

    </div>

    <div class="form-container">
      <div [formGroup]="form">
        <div [ngClass]="{'editing': elementEditing}" class="inputs-container">

          <div class="first-row">
            <div class="name-container">
              <input
              placeholder="Name"
              formControlName="name"
              class="ipt-default"
              type="text">
            </div>

            <div class="qty-container">
              <input
              placeholder="Qty"
              formControlName="qty"
              class="ipt-default"
              type="number">
            </div>
          </div>

          <div class="second-row">
            <div class="unit-container">
              <input
              placeholder="Unit"
              formControlName="unit"
              class="ipt-default ipt-unit"
              type="text">
            </div>

            <div class="date-container">
              <input
              formControlName="date"
              class="ipt-default ipt-date"
              type="date"
              >
            </div>
          </div>

        </div>
      </div>

      <div class="btn-container">
        <button
          *ngIf="!elementEditing"
          [ngClass]="{'invalid' : loading || form.invalid, 'activated': form.valid && !loading}"
          (click)="onAddClick()"
          class="btn-default btn-add">
          Add
        </button>

        <button
          *ngIf="elementEditing"
          [ngClass]="{'invalid' : loading || form.invalid, 'activated': form.valid && !loading}"
          (click)="onSaveClick()"
          class="btn-default btn-save">
          Save
        </button>

      </div>

    </div>

    <div class="list-container" (click)="closeMoreMenu()">

      <div *ngIf="loading" class="loading-container">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
      </div>

      <div *ngIf="(pantry === undefined || pantry.length === 0) && !loading" class="empty-pantry">
        <p>Your Pantry is empty</p>
      </div>

      <div class="pantry-elements-container" >
        <div
          *ngFor="let product of pantry; let i = index"
          class="animation-container"
          @added
        >
            <app-pantry-element
            [product]="product"
            [index]="i"
            [elementEdited]="elementIndex === i">
          </app-pantry-element>
        </div>
      </div>

    </div>
  </div>
</div>
