<div class="full-width-flex-container" (click)="onClickOutsideElementMenu($event)">
  <div class="pantry-container">

    <div (click)="closeMoreMenu()" *ngIf="pageMenuOpened" class="more-menu-container">
      <button [ngClass]="pantry === undefined || pantry.length === 0 ? 'invalid' : ''" (click)="onClearPantryClick()" class="btn-default">Clear Pantry</button>
      <button [ngClass]="pantry === undefined || pantry.length === 0 ? 'invalid' : ''" *ngIf="!sorting" (click)="onSortByDateClick()" class="btn-default">Sort By Expiration Date</button>
      <button [ngClass]="pantry === undefined || pantry.length === 0 ? 'invalid' : ''" *ngIf="sorting" (click)="onClearSort()" class="btn-default">Clear Sort</button>
    </div>

    <div class="page-menu">

      <div class="header-container">

        <h1 class="header" >Pantry</h1>

        <button (click)="onMoreClick()" class="btn-more">
          <img [src]="pageMenuOpened ? './../../assets/cancel2-svgrepo-com.svg' : './../../assets/more-vertical-svgrepo-com.svg'" alt="more button icon">
        </button>

      </div>

      <div [ngClass]="{'editing': elementEditing}" class="add-element-container">
        <div class="form-container">
          <form [formGroup]="form">
            <div class="inputs-container">

              <div class="name-container">
                <input
                placeholder="Name"
                formControlName="name"
                class="ipt-default"
                type="text">
              </div>

              <div class="qty-container">
                <input
                placeholder="Qty"
                formControlName="qty"
                class="ipt-default"
                type="number">
              </div>

              <div class="unit-container">
                <input
                placeholder="Unit"
                formControlName="unit"
                class="ipt-default ipt-unit"
                type="text">
              </div>

              <div class="date-container">
                <input
                formControlName="date"
                class="ipt-default ipt-date"
                type="date"
                >
              </div>

            </div>
          </form>
        </div>

        <button
          *ngIf="!elementEditing"
          [ngClass]="form.valid ? '' : 'invalid'"
          (click)="onAddClick()"
          class="btn-default btn-add">
          Add
        </button>

        <button
          *ngIf="elementEditing"
          [ngClass]="form.valid ? '' : 'invalid'"
          (click)="onSaveClick()"
          class="btn-default btn-save">
          Save
        </button>
      </div>
    </div>

    <div *ngIf="(pantry === undefined || pantry.length === 0) && !loading" class="empty-pantry">
      <p>Your Pantry is empty</p>
    </div>

    <div class="spinner-container">
      <div *ngIf="loading" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>

    <div class="pantry-elements-container">
      <app-pantry-element
        *ngFor="let product of pantry; let i = index"
        [product]="product"
        [index]="i">
      </app-pantry-element>
    </div>



  </div>
</div>
